subscription_id     = "00000000-0000-0000-0000-000000000000"
location            = "uksouth"
environment         = "prod"
project             = "canonizr"
apim_publisher_name  = "Health Data Avatar"
apim_publisher_email = "admin@example.com"
